@page
@model POMODORO_TEST.Pages.Management.IndexModel
@{

    ViewData["Title"] = "Management";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/management.css" />
<section class="grid">
    <a href="/WorkspaceManagement/Index" class="card">Background Setting</a>
    <a href="/MusicManagement/Index" class="card">Music Setting</a>
</section>