@page
@model POMODORO_TEST.Pages.Management.IndexModel
@{

    ViewData["Title"] = "Management";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/management.css" />
<section class="grid">
    <a href="/Management/Background" class="card">Background Setting</a>
    <a href="/Management/Music" class="card">Music Setting</a>
</section>