@page
@model FocusModel
@{
    ViewData["Title"] = "Trang Focus";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    @* Đường dẫn đến file CSS đã được cập nhật với ký tự `~` *@
    <link rel="stylesheet" href="~/css/globals.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Focus Page</title>
</head>
<body>
    <div class="FOCUS">
        <div class="WORK-SPACE-wrapper">
            <div class="WORK-SPACE">
                <div class="overlap">
                    @* Tất cả đường dẫn ảnh đã được cập nhật với ký tự `~` *@
                    <img class="NH-NN" src="~/img/NH-n-n.png" />
                    <div class="group">
                        <div class="overlap-group"><img class="rectangle" src="~/img/rectangle-1.svg" /></div>
                    </div>
                    <img class="POMODORO" src="~/img/POMODORO-1.png" />
                    <div class="overlap-wrapper">
                        <div class="div">
                            <img class="img" src="~/img/group-3.png" />
                            <div class="group-2"></div>
                        </div>
                    </div>
                    <div class="text-wrapper">HOME</div>
                    <div class="text-wrapper-2">MANAGEMENT</div>
                    <div class="text-wrapper-3">WORKSPACE</div>
                    <div class="group-wrapper">
                        <div class="group-3">
                            <div class="overlap-2">
                                <p class="p">25 : 00 : 00</p>
                                <div class="text-wrapper-4">HR</div>
                                <div class="text-wrapper-5">MIN</div>
                                <div class="text-wrapper-6">SEC</div>
                            </div>
                            <div class="component">
                                <div class="overlap-group-wrapper">
                                    <div class="div-wrapper"><div class="text-wrapper-7">FOCUS</div></div>
                                </div>
                                <div class="text-wrapper-8">SHORT BREAK</div>
                                <div class="text-wrapper-9">LONG BREAK</div>
                            </div>
                            <div class="NHP-STAR">
                                <div class="group-4">
                                    <div class="overlap-group-2">
                                        <div class="NN-START"></div>
                                        <div class="text-wrapper-10">START</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="next-nn">
                        <div class="overlap-3">
                            <img class="NH-NN-2" src="~/img/NH-n-n-2.png" />
                            <div class="text-wrapper-11">Lofi 3</div>
                        </div>
                        <img class="vector" src="~/img/vector.svg" />
                        <img class="vector-2" src="~/img/image.svg" />
                    </div>
                    <div class="nhp-nhy-group">
                        <div class="TN-BH-NGH-s">
                            <img class="image" src="~/img/image.png" />
                            <div class="l-c-tr-i">Wandering at Midnight</div>
                            <div class="s-n-t-ng-MTP">Star Hopper</div>
                        </div>
                        <div class="nhp-nhy">
                            <div class="rectangle-2"></div>
                            <div class="rectangle-3"></div>
                            <div class="rectangle-4"></div>
                        </div>
                        <img class="vector-3" src="~/img/vector-3.svg" />
                        <img class="vector-4" src="~/img/vector-2.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>