@page
@model POMODORO_TEST.Pages.Management.BackgroundModel
@{
    ViewData["Title"] = "Background";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/background.css" />
<h1>Background Manager</h1>
<form class="upload-form">
    <input type="file" />
    <button>Upload</button>
</form>
<section class="gallery">
    <div class="image-card">LOFI 1</div>
    <div class="image-card">NATURAL 1</div>
</section>