@page
@model StudyWorkspace.Pages.Mangament.ManagamentModel
@{
    ViewData["Title"] = "Trang quản lý âm thanh và không gian ảo";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <link rel="stylesheet" href="wwwroot/css/globals.css" />
    <link rel="stylesheet" href="wwwroot/css/style.css" />

</head>
<body>
    <div class="MANAGEMENT">
        <div class="div">
            <div class="overlap">
                <div class="group">
                    <div class="overlap-group"><img class="rectangle" src="img/rectangle-1.svg" /></div>
                </div>
                <img class="POMODORO" src="img/POMODORO-1.png" />
                <div class="text-wrapper">HOME</div>
                <div class="text-wrapper-2">MANAGEMENT</div>
                <div class="text-wrapper-3">WORKSPACE</div>
            </div>
            <div class="overlap-2">
                <div class="BACKGROUND-MUSIC">BACKGROUND MUSIC <br />SETTING</div>
                <div class="overlap-wrapper">
                    <div class="div-wrapper"><div class="text-wrapper-4">Change</div></div>
                </div>
                <img class="MUSIC" src="~/img/MUSIC.png" />
            </div>
            <div class="overlap-3">
                <div class="BACKGROUND-SETTING">BACKGROUND <br />SETTING</div>
                <div class="overlap-group-wrapper">
                    <div class="div-wrapper"><div class="text-wrapper-4">Change</div></div>
                </div>
                <img class="IMAGE" src="~/img/IMAGE.png" />
            </div>
        </div>
    </div>
</body>
</html>

